* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

header {
    padding-top: 50px;
    min-height: 100px;
}

.mainContent {
    max-width: 1200px;
    margin: auto;
}

.mainHeading {
    padding-top: 50px;
    min-height: 200px;
}
