* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

header {
    padding-top: 50px;
    min-height: 100px;
}

.mainContent {
    max-width: 1200px;
    margin: auto;
}

.mainHeading {
    padding-top: 50px;
    min-height: 200px;
}

.button {
    font-size: 20px;
    border-radius: 8px;
    border-style: none;
    margin: 1.5%;
    color: #506960;
    background-color: #e0ebe8;
    border-color: #506960;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease;
	transform: scale(1.0);
}

.button:hover {
	transition: transform 0.2s ease;
	transform: scale(1.2);
	text-transform: bold;
	color: #fff;
	background-color: #506960;
}

.buttonArea {
    min-height: 200px;
}
